{% extends "base_white.html" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="/static/css/businessplan_detail.css">{% endblock styles %}

{% block content %}
{% load static %}
<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<div class="nav-buttons" style="margin-top:80px;">
				<button class="button standard">Data Room</button>
				<button class="button highlighted">Business Plan</button>
				<button class="button standard">Diagnostics</button>
				<button class="button standard">KPI</button>
				<button class="button standard">Due Diligence</button>
				<button class="button standard">Bespoke Questionnaire</button>
			</div>
		</div>
		<div class="col-xs-8">
			<h1 class="h1 title"> <b>Business Plan</b> </h1>
              <p class="question">What is your business model?</p>
              <p class="question">Describe your exit strategy.</p>
              <p class="question">Summarise your business.</p>
              <p class="question">List your competitors.</p>
              <p class="question">List your specific current or potential customers.</p>
              <p class="question">Size your potential market of customers.</p>
              <p class="question">What is the customer problem your product is solving?</p>
              <p class="question">What is your solution?</p>
              <p class="question">Describe your “go-to-market” and sales strategy.</p>
              <p class="question">Describe your competitive advantage and barriers to entry.</p>
              <p class="question">Financials – revenues, expenditures and net income for last 2 years and next 3 years projected</p>
          <div class="images">
            <input type="image" src="/home/lemac/Workspace/ChallenWide/FigmaFiles/document-upload.png" height="55" />
            <input type="image" src="/home/lemac/Workspace/ChallenWide/FigmaFiles/document-upload.png" height="55" />
            <input type="image" src="/home/lemac/Workspace/ChallenWide/FigmaFiles/document-upload.png" height="55" />
          </div>
		</div>
	</div>
</main>
{% endblock content %}