{% extends "base_white.html" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="/static/css/profiles.css">{% endblock styles %}

{% block content %}
{% load static %}
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-sm-4">
            <div class="col-sm-8 no-float">
                <div class="avatar">
                    <img src="{% static 'logos/logo-white.png' %}" height="80">
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-6">
            <h1 class="h1 title"> <b>Be Sweet LTD</b> </h1>
            <p>{{ object.get_description }}</p>
			<div class="row">
				<div class="col-xs-6 no-float" style="padding-top: 30px;">
                    <p><b>Email:</b> {{ object.user }} </p>
                    <p><b>Country:</b> {{ object.get_country_display }}</p>
                    <p><b>Legal Structure:</b> {{ object.get_legal_struct_display }}</p>
				</div>
				<div class="col-xs-6 no-float" style="padding-left: 40px;">
                    <p><b>Year Founded:</b> {{ object.get_year_display }}</p>
                    <p><b>Local Currency:</b> {{ object.get_currency_display }} </p>
                    <p><b>Sector:</b> {{ object.get_sector_display }}</p>
                    <p><b>Ownership:</b> {{ object.get_ownership_display }}</p>
				</div>
			</div>
		</div>

	</div>
</main>
{% endblock content %}