{% extends "base_white.html" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="/static/css/follower_kpi.css">{% endblock styles %}
<script>
{% block jquery %}

var endpoint = 'api/data';
var labels = [];
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data) {
        labels = data.labels;
        grossValues = data.gross_values;
        netValues = data.net_values;
        idName1 = 'grossandnet';
		revenues = data.revenues;
		expenditures = data.expenditures;
		cashFlow = data.cash_flow;
		idName3 = 'flow';
		flowLabels = ['July', 'August', 'September'];
		idName4 = 'sales';
		sales = [75000, 60000, 100000];
		sales_speedo = [110000, 10000];
		salesLabels = ['Deborah', 'Danny', 'Eoghan'];
		salesLabels_speedo = ['Actual', 'Projected'];
		idName5 = 'speedo';
		barChart(grossValues, netValues, idName1, labels);
        flowChart(revenues, expenditures, cashFlow, idName3, flowLabels);
        pieChart(sales, idName4, salesLabels);
        speedoChart(sales_speedo, idName5, salesLabels_speedo);
    },
	error: function(error_data){
		console.log("error");
		console.log(error_data)
	}
});

function barChart(gross, net, idName, labels){
    var ctx = document.getElementById(idName).getContext('2d');
	var grossandnet = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: labels,
			datasets: [{
				label: 'Gross profit margin',
				data: gross,
				backgroundColor: 'rgba(54, 162, 235, 0.5)',
				borderColor: 'rgba(54, 162, 235, 1)',
				borderWidth: 1
			},
			{
                label: 'Net profit margin',
                data: net,
				backgroundColor: 'rgba(255, 159, 64, 0.5)',
				borderColor: 'rgba(255, 159, 64, 0.5)',
				borderWidth: 1
			}]
		},
		options: {
		    scales: {
		        yAxes: [{
		            ticks: {
		                beginAtZero:true,
						max: 100,
						callback: function(value, index, values) {
                        	return value + '%';
                    	}
		            },
					gridLines: {
		                display: false
					}
		        }],
				xAxes: [{
					gridLines: {
		                display: false
					}
		        }]
		    },
		    title: {
		        display: true,
				text: 'Profit Margins by Year'
			}
		}
	});
}
function flowChart(revenues, expenditures, cashFlow, idName, labels){
    var ctx = document.getElementById(idName).getContext('2d');
	var flow = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: labels,
			datasets: [{
                label: 'Expenditures',
                data: expenditures,
				stack:0,
				backgroundColor: 'rgba(255, 159, 64, 0.5)',
				borderColor: 'rgba(255, 159, 64, 0.5)',
				borderWidth: 1
			},
			{
				label: 'Revenues',
				data: revenues,
				stack:0,
				backgroundColor: 'rgba(54, 162, 235, 0.5)',
				borderColor: 'rgba(54, 162, 235, 0.5)',
				borderWidth: 1
			},
			{
				label: 'Cash Flow',
				data: cashFlow,
				stack:1,
				backgroundColor: 'rgba(54, 166, 35, 0.5)',
				borderColor: 'rgba(54, 166, 35, 0.5)',
				borderWidth: 1
			}]
		},
		options: {
		    scales: {
		        yAxes: [{
		            ticks: {
		                beginAtZero:true
		            },
					gridLines: {
		                display: false
					},
					stacked:true
		        }],
				xAxes: [{
					gridLines: {
		                display: false
					},
					stacked:true
		        }]
		    },
		    title: {
		        display: true,
				text: 'Cash flow by Month'
			}
		}
	});
}
function pieChart(scores, idName, labels){
    var ctx = document.getElementById(idName).getContext('2d');
	var pie = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: labels,
			datasets: [{
				label: 'First Scores',
				data: scores,
				backgroundColor: [
				    'rgba(54, 162, 235, 0.5)',
					'rgba(54, 166, 35, 0.5)',
					'rgba(255, 159, 64, 0.5)'
					],
				borderColor: 'rgba(247, 247, 247, 1)',
				borderWidth: 8
			}]
		},
		options: {
		    title: {
		        display: true,
				text: 'Sales Concentration by Customer'
			}
		}
	});
}
function speedoChart(scores, idName, labels){
    var ctx = document.getElementById(idName).getContext('2d');
	var speedo = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: labels,
			datasets: [{
				label: 'Scores',
				data: scores,
				backgroundColor: [
				    'rgba(54, 162, 235, 0.5)',
					'rgba(54, 166, 35, 0.5)',
					],
				borderColor: 'rgba(247, 247, 247, 1)',
				borderWidth: 8
			}]
		},
		options: {
		    rotation: -Math.PI,
		    circumference: Math.PI,
		    title: {
		        display: true,
				text: 'Sales Actual vs Forecast'
			}
		}
	});
}
{% endblock %}
</script>
{% block content %}
{% load static %}
<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-sm-3">
			{% include 'snippets/side_buttons.html' %}
		</div>
		<div class="col-lg-10 col-sm-9">
			<h1 class="h1 title"> <b>Follower Dashboard</b> </h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-sales">Sales</div>
                        <div class="panel-body">50</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-net">Net Income</div>
                        <div class="panel-body">50</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-cash">Cash</div>
                        <div class="panel-body">50</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <canvas id="speedo" width="100" height="100"></canvas>
                </div>
                <div class="col-sm-4">
                    <div class="container">
                        <h4>Employees:</h4>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-female" style="font-size:40px;"></i>
                        <i class="fa fa-male" style="font-size:40px;"></i>
                        <i class="fa fa-male" style="font-size:40px;"></i>
                        <i class="fa fa-male" style="font-size:40px;"></i>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel-group">
                        <div class="panel panel-default">
                          <div class="panel-heading">Cash In Bank</div>
                          <div class="panel-body">500$</div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">Accounts Receivable</div>
                          <div class="panel-body">200$/50$/10$</div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">Accounts</div>
                          <div class="panel-body">200$</div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading"><b>Quick Ratio</b></div>
                          <div class="panel-body">7,099.1 to</div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Current Ratio</b></div>
                          <div class="panel-body">10,495.3 to</div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <canvas id="sales" width="100" height="100"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="grossandnet" width="100" height="100"></canvas>
                </div>
                <div class="col-sm-4">
                    <canvas id="flow" width="100" height="100"></canvas>
                </div>
            </div>
		</div>
	</div>
</main>
{% endblock content %}

