<div class="nav-buttons" style="margin-top:80px;">
    {% if room is not None %}
        <form action="{{ room.get_absolute_url }}">
            <button class="button standard" type="submit">Data Room</button>
        </form>
    {% else %}
        <form action="/dataroom/">
            <button class="button standard" type="submit">Data Room</button>
        </form>
    {% endif %}
    <button class="button highlighted">Business Plan</button>
    {% if diag is not None %}
        <form action="{{ diag.get_absolute_url }}">
            <button class="button standard" type="submit">Diagnostics</button>
        </form>
    {% else %}
        <form action="/diagnostics/">
            <button class="button standard" type="submit">Diagnostics</button>
        </form>
    {% endif %}
    <button class="button standard">KPI</button>
    <button class="button standard">Due Diligence</button>
    <button class="button standard">Bespoke Questionnaire</button>
</div>