{% extends "base_white.html" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="/static/css/businessplan_detail.css">{% endblock styles %}

{% block content %}
{% load static %}
<main role="main" class="container-fluid">
	<div class="row">
		<div class="col-xs-2">
			<div class="nav-buttons" style="margin-top:80px;">
				<button class="button standard">Data Room</button>
				<button class="button standard">Business Plan</button>
				<button class="button standard">Diagnostics</button>
				<button class="button standard">KPI</button>
				<button class="button standard">Due Diligence</button>
				<button class="button standard">Bespoke Questionnaire</button>
			</div>
		</div>
	</div>
</main>
{% endblock content %}