<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges Marketplace</title>
	<link rel="stylesheet" type="text/css" href="base.css">
    {% include 'snippets/css.html' %}
</head>
<body style="background-color: #3381A8">

<nav class="navbar navbar-light bg-faded" style="background-color: #565656;">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">
	    <img src="/home/lemac/Workspace/ChallenWide/Marketplace/src/logos/logo.png" height="40" class="pull-left"></a>
	    <span class="name pull-left">CHALLENGES MARKETPLACE</span>
	</div>
</nav>

{% include 'snippets/js.html' %}
</body>

</html>