.bg-faded {
	padding-top:10px;
	padding-bottom:12px;
}


.navbar-brand {
	padding-top:5px;
	padding-bottom:5px;
}

.logo {
  padding: 10px 10px 0 10px;
}

.name {
  font-size: 15px;
  color: white;
  padding-top: 15px;
}