<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/logos/favicon.ico"/>
    <title>Challenges Marketplace</title>
    {% include 'snippets/css.html' %}
    {% block styles %}{% endblock styles %}
</head>
<body style="background-color: #F7F7F7">
{% include 'snippets/navbar.html' %}

{% block content %}
<div class="col-xs-offset-4 col-xs-4">
    {% if smeprofile is not None %}
        <h1>Back at it! Go to your <a href="{{ smeprofile.get_absolute_url }}">profile</a>.</h1>
    {% elif staffprofile is not None %}
        <h1>Back at it! Go to your <a href="{{ staffprofile.get_absolute_url }}">profile</a>.</h1>
    {% else %}
        <h1>Back at it! Go to your <a href="/profile/">profile</a>.</h1>
    {% endif %}
</div>
{% endblock content %}

{% include 'snippets/js.html' %}
</body>

</html>