<div class="nav-buttons" style="margin-top:80px;">
    <button class="button standard">KPI</button>
    {% if bp is not None %}
        <form action="{{ bp.get_absolute_url }}">
            <button class="button standard" type="submit">Business Plan</button>
        </form>
    {% else %}
        <form action="/businessplan/">
            <button class="button standard" type="submit">Business Plan</button>
        </form>
    {% endif %}
    {% if diag is not None %}
        <form action="{{ diag.get_absolute_url }}">
            <button class="button standard" type="submit">Diagnostics</button>
        </form>
    {% else %}
        <form action="/diagnostics/">
            <button class="button standard" type="submit">Diagnostics</button>
        </form>
    {% endif %}
    {% if diligence is not None %}
        <form action="{{ diligence.get_absolute_url }}">
            <button class="button standard" type="submit">Due Diligence</button>
        </form>
    {% else %}
        <form action="/diligenceroom/">
            <button class="button standard" type="submit">Due Diligence</button>
        </form>
    {% endif %}
    {% if accordion is not None %}
        <form action="{{ accordion.get_absolute_url }}">
            <button class="button standard" type="submit">Data Room</button>
        </form>
    {% else %}
        <form action="/dataroom/">
            <button class="button standard" type="submit">Data Room</button>
        </form>
    {% endif %}
    <button class="button standard">Bespoke Questionnaire</button>
</div>